.fondo{
  background: rgba(54,7,77,1);
  background: -moz-linear-gradient(left, rgba(54,7,77,1) 0%, rgba(80,13,97,1) 31%, rgba(51,9,25,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,7,77,1)), color-stop(31%, rgba(80,13,97,1)), color-stop(100%, rgba(51,9,25,1)));
  background: -webkit-linear-gradient(left, rgba(54,7,77,1) 0%, rgba(80,13,97,1) 31%, rgba(51,9,25,1) 100%);
  background: -o-linear-gradient(left, rgba(54,7,77,1) 0%, rgba(80,13,97,1) 31%, rgba(51,9,25,1) 100%);
  background: -ms-linear-gradient(left, rgba(54,7,77,1) 0%, rgba(80,13,97,1) 31%, rgba(51,9,25,1) 100%);
  background: linear-gradient(to right, rgba(54,7,77,1) 0%, rgba(80,13,97,1) 31%, rgba(51,9,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36074d', endColorstr='#330919', GradientType=1 );
}
/* Usar por si es necesario un cambio de letra
 @font-face {
  font-family: kelly;
  src: url(../fonts/KellySlab-Regular.otf);
} */

body{
  /* font-family: kelly; */
  font-family: "gadugi","Helvetica Neue", Helvetica, Arial;
}

h6{
  font-size: 1.2em;
}
.margen-izq{
  margin-left: 30px;
}
.margen-izq-1{
  margin-left: 10px;
}
.row{
  margin:0;
  padding: 0;
}
.container .row{
 margin: 0;
}
.row .col{
  padding: 0;
}
.gris1{
  background-color:#404041;
}
.gris2{
  background-color:#808284;
}
.gris3{
  background-color:#939597;   
}
.vino1{
  background-color:#5d0a0f;
}
.vino2{
  background-color:#821A1A;
}
.alto1{
  height: 100px;
}
.alto2{
  height: 250px;
}
.altofoto{
  height: 300px;
}
.alto-seccion{
  height: 320px;
}
#nav div{
  padding-top: 5px;
}

.custom-container{
  padding-right: 25px;
  padding-left: 25px;
}
.ref-modal{
  color: #039be5;
}

.ref-modal i{
  color: #039be5;
  margin-right: 2px; 
}

.separador{
  margin-top: 10px;
}
.custom-hr{
  width: 10%;
  color: #5d0a0f;
}
.material-icons{
  color: #9d151e;
  font-size: 14px !important;
  margin-left: 10px;
}
.full-padding{
  padding: 20px !important;
}

.img-border{
  border: 3px #2C2C2C solid;
}
.modal {
  /* width: 70%; */
  max-height: 85% !important;
  /* height: 80% !important; */
}
.medium-container{
  padding-right: 15px; 
  padding-left: 15px; 
}

.expand-img{
  width: 100% !important;
  padding: 10px;
}
.store-img{
  height: 40px;
}
/* @media only screen and (max-width: 992px){
  .modal {
    width: 80%;
  }
} */

.pointer {
  cursor: pointer;
  text-decoration: underline;
}


#btnLan {
  position: absolute;
  right: 0px;
  background-color: transparent;
  background-color: o;
  top: 10px;
  padding: 0px;
}

.selLan {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.selLan:hover{
  background-color: rgba(56, 56, 44, 0.336);
}

#dropdownLang {
  position: absolute;
  right: 0px !important;
  top: 40px !important;
  left: 0px;
  background-color: #c4c4c436;
  /* right: 0px;
  top: 10px; */
}